<div class="container">
<div class="row">
  <div class="col-sm-9">
    <mat-tab-group>
      <mat-tab label="Description">
        <h1><app-description></app-description></h1>
      </mat-tab>
      <mat-tab label="Bugs">
        <h1><app-bugs></app-bugs></h1>
      </mat-tab>
      <mat-tab label="Source">
        <h1><app-source></app-source></h1>
      </mat-tab>
      <mat-tab label="Time">
        <h1><app-time></app-time></h1>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-sm-3">
    <p>inf</p>
  </div>
</div>
</div>
