<h2 align="center">Adding Task</h2>
<div class="container">
  <mat-form-field>
    <input [(ngModel)]="task.title" matInput placeholder="Task title">
  </mat-form-field>

  <mat-form-field>
    <textarea [(ngModel)]="task.content" matInput placeholder="Task description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="task.status" placeholder="Task status">
      <mat-option value="open">open</mat-option>
      <mat-option value="done">done</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="primary" (click)="add()">Add</button>
</div>

