
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Client</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  </style>
</head>
<body>
<div class="topnav">
  <a class="active"[routerLink]="['/login']">Wyloguj</a>
  <a class="active"[routerLink]="['/workByPerson']">Work by person</a>
  <a class="active"[routerLink]="['/myWork']">My work</a>
  <a href="#about">Backlog</a>
  <a href="">User</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
</body>
</html>
