<div class="wrapper" *ngFor="let us of users"  [id] ="us.userName">
  <h2>{{us.userName}}</h2>
  <div class='wrapper'>
    <div class='container' [dragula]='"nested-bag"' [id]="1">
      <p>Open</p>
      <div *ngFor='let item of us.tasks.open' (click)="infoXD(item.taskId)" [innerHtml]='item.title' [id]='item.taskId'></div>
    </div>
    <div class='container' [dragula]='"nested-bag"' [id]="1">
      <p>Done</p>
      <div *ngFor='let item of us.tasks.close' (click)="infoXD(item.taskId)" [innerHtml]='item.title' [id]='item.taskId'></div>
    </div>
  </div>
  <hr>
 <!-- {{us | json}}-->
</div>

