<div class="wrapper" *ngFor="let us of users">
  <a class="btn" align="right" (click)="addTask()" >Add task</a>
  <h2>{{us.userName}}</h2>
  <div class='wrapper'>
    <div class='container' [dragula]='"nested-bag"' [id]='0' [title]='us.userId'>
      <p>Open</p>
      <div *ngFor='let item of us.tasks.open' (click)="infoXD(item.taskId)" [innerHtml]='item.title' [id]='item.taskId'></div>
    </div>
    <div class='container' [dragula]='"nested-bag"' [id]='1' [title]='us.userId'>
      <p>Done</p>
      <div *ngFor='let item of us.tasks.close' (click)="infoXD(item.taskId)" [innerHtml]='item.title' [id]='item.taskId'></div>
    </div>
  </div>
  <hr>
 <!-- {{us | json}}-->
</div>

